<div class="container footer">
    <div class="ui segment">
        <footer id="page-footer">
            <h3>Scrapper, NY Times Edition</h3>
            <p>Gerardo Fernandez</p>
            <p>Berkeley, CA 2018</p>
        </footer>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.js"></script>
<script src="/assets/js/scrapper_global.js"></script>

</body>

</html>