<!DOCUMENT html>
<html>

<head>
    <title>Scrapper App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css"></link>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<!-- NavBar Semantic UI -->

<body>
    <div class="ui menu">
        <a class="item" href="/">
            <h2 class="nav-text">Scrapper 2.0</h2>
        </a>
        <a class="item" href="/">
            <h3 class="nav-text">Home</h3>
        </a>
        <a class="item" href="#">
            <h3 class="nav-text">Saved Articles</h3>
        </a>
        <form action="/articles" method="GET">
            <div class="ui inverted segment">
                <button class="ui inverted basic large button">Scrape Articles</button>
            </div>
        </form>
    </div>