<% include ./partials/header %>

    <div class="ui piled segment">
        <h1 id="main-header">Mongo Scrapper</h1>

        <p id="main-footer">New Yok Times Edition</p>
    </div>


    <% include ./partials/footer %>