<% include ./partials/header %>
    <div class="container">
        <div class="ui piled segment">
            <h1 id="main-header">Mongo Scrapper</h1>

            <p id="main-footer">New Yok Times Edition</p>
        </div>
        <h1>
            <%= articles %>
        </h1>

        <% articles.forEach((article) => { %> -->
            <div class="ui grid">
                <div class="twelve wide column centered">
                    <div class="ui yellow segment">
                        <h1 class="article-results">
                            <a href="<%= article.link %>">
                                <%= article.link.toUpperCase() %>
                            </a>
                        </h1>
                        <div class="ui grid">
                            <div class="twelve wide column centered">
                                <hr>
                            </div>
                            <div class="eleven wide column">
                                <p class="article-body">
                                    <%= article.body %>
                                </p>
                            </div>
                            <div class="one wide column">
                                <form action="/articles" method="POST">
                                    <button class="ui yellow basic button right floated">Save Article</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% }); %>
    </div>

    <% include ./partials/footer %>