<% include ./partials/header %>

<div class="container fluid">
    <div class="ui piled segment">
        <h1 id="main-header">Mongo Scrapper</h1>

        <p id="main-footer">New York Times Edition</p>
    </div>
    <div class="ui grid">
        <div class="twelve wide column centered">
            <div class="ui yellow segment">
                <h1 class="article-results">
                    <a href="<%= articleNote.link %>">
                        <%= articleNote.header %>
                    </a>
                    <h3>ID - <%= articleNote._id %></h3>
                </h1>
                <div class="ui grid">
                    <div class="twelve wide column centered">
                        <hr>
                    </div>
                    <form class="ui form" action="#" method="POST">
                        <div class="ui grid">
                            <div class="field centered">
                                <div class="ui main text container segment">
                                    <label for="note-body">Add a note</label>
                                    <textarea id="note-body" class="article-body"></textarea rows="2">
                                </div>
                            </div>
                        </div>
                        <div class="ui center align grid">
                            <div class="three column">
                                <a href="#"><button type="button" class="ui yellow basic button note-save">Save</button></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




<% include ./partials/footer %>