body {
    background-image: url("/assets/images/rawpixel-com-247361-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.ui.menu {
    background-color: #969696;
}

.nav-text {
    color: white;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.9), 1px 3px 3px rgba(0, 0, 0, 0.2);
}

.ui.inverted.segment {
    background-color: #969696;
}

#main-header {
    font-size: 5rem;
    text-align: center;
}

#main-footer {
    font-size: 3rem;
    text-align: center;
}

#page-footer {
    text-align: center;
}

.container.footer {
    margin-top: 22.5%;
}

.article-body {
    font-size: 15px;
}

.home-paragraph {
    font-size: 1.75rem;
}

.article-results {
    overflow-wrap: break-word;
}

div.eleven.wide.column {
    margin-right: 135px;
}

.ui.form .field {
    margin-left: 15%;
}
